.app-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

  /* background-color: grey; */

  cursor: url('../img/sun_4.png'), auto;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 80%;

  /* background-color: aqua; */
  background-color: var(--overlay__black__30);
  box-shadow: 0px 0px 20px var(--overlay__black__30);
}

@media (max-width: 1000px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 80%;
  }
}

@media (max-width: 700px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 80%;
  }
}

@media (max-width: 500px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 80%;
  }
}
