.search__btn {
  font-size: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  right: 0px;

  width: 2.5em;
  height: 2.5em;

  /* border: 1px solid var(--overlay__black__100); */
  border: none;
  background-color: var(--btn-bg);
  color: var(--overlay__white__100);
  border-radius: 30px;
}
