.current-weather {
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80%;
  /* background-color: rgb(28, 241, 156); */
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: var(--frederica);
  color: var(--overlay__white__40);
}

.date {
  position: absolute;
  top: 10%;
  left: 10%;
}

.current-day {
  font-size: 60px;
  font-family: var(--bhu);
}

.current-date {
  font-size: 20px;
  font-family: var(--bhu);
}

.temp-loc {
  position: absolute;
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.current-temperature {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 200px;
  font-size: 200px;
  font-family: var(--baloo);
}

.current-location {
  /* background-color: red;
   */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 50px;

  font-size: 30px;
  font-family: var(--baloo);
  margin-top: -40px;
}

/* <a href="https://www.flaticon.com/free-icons/sun" title="sun icons">Sun icons created by Aranagraphics - Flaticon</a> */

@media (max-width: 1800px) {
  .date {
    position: absolute;
    top: 10%;
    left: 20%;
  }

  .current-temperature {
    font-size: 200px;
  }

  .current-location {
    font-size: 30px;
    margin-top: -40px;
  }

  .temp-loc {
    position: absolute;

    width: 45%;
    height: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: red; */
  }
}

@media (max-width: 1000px) {
  .date {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .current-temperature {
    font-size: 200px;
  }

  .current-location {
    font-size: 30px;
    margin-top: -40px;
  }

  .temp-loc {
    position: absolute;
    width: 70%;
    height: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: red; */
  }
}
