.current-weather {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  height: 20%;

  /* background-color: green; */
}

.date {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;

  /* background-color: red; */
}

.date .current-day {
  font-family: var(--frederica);
  font-size: 2em;
  text-transform: uppercase;
}

.date .current-date {
  font-family: var(--frederica);
  font-size: 2em;
}

.temp-loc {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;

  /* background-color: red; */
}

.current-location {
  font-family: var(--frederica);
  font-size: 2em;
}

.current-temperature {
  position: absolute;
  top: -500%;
  left: 50%;
  transform: translateX(-50%);

  font-family: var(--frederica);
  font-size: 6em;
}

@media (max-width: 1000px) {
  .date .current-date {
    font-family: var(--frederica);
    font-size: 1.5em;
  }

  .current-location {
    font-family: var(--frederica);
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .date .current-date {
    font-family: var(--frederica);
    font-size: 1em;
  }

  .current-location {
    font-family: var(--frederica);
    font-size: 1.5em;
  }
}
