@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Bungee&family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

:root {
  --bhu: 'BhuTuka Expanded One', cursive;
  --baloo: 'Baloo 2', cursive;
  --frederica: 'Fredericka the Great', cursive;
}
