@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Bungee&family=Fredericka+the+Great&display=swap');

:root {
  --bhu: 'BhuTuka Expanded One', cursive;
  --bungee: 'Bungee', cursive;
  --frederica: 'Fredericka the Great', cursive;
}
