.search-box {
  position: absolute;
  top: 0px;
  right: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20%;
  height: 80%;
  /* background-color: rgb(46, 69, 88); */
}

.search {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.search .search__field {
  font-family: var(--frederica);
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  text-indent: 20px;

  width: 16em;
  height: 2.5em;

  border-radius: 25px;
  border: none;
  background-color: var(--overlay__black__10);
  color: var(--overlay__white__50);

  transition: width 1s;
}

.search .search__field::placeholder {
  color: var(--overlay__white__50);
}

.search .search__field:focus {
  outline: none;
}

.search-ideas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-ideas .city {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-size: 30px;
  font-family: var(--frederica);

  margin-bottom: 40px;
  /* border-bottom: 1px solid var(--overlay__black__30); */

  transition: all 0.25s ease-in-out;
}

.search-ideas .city:hover {
  transform: scale(1.5);
}

.other-weather-info {
}

@media (max-width: 1000px) {
  .search-box {
    width: 30%;
    height: 80%;
  }

  .search-ideas .city {
    display: none;
  }

  .search .search__field {
    width: 12em;
    height: 2.5em;
  }
}
