.multiple-days-weather {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: var(--overlay__black__30);
}

.day-box {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90%;

  /* background-color: var(--overlay__black__10); */
  color: black;

  border-right: 1px solid var(--overlay__black__80);
}
.day-box:last-child {
  border-right: none;
}

.day {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 30px;
  color: var(--overlay__white__100);
  font-family: var(--frederica);
}

.weather-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  height: 80px;

  background-image: url(../img/sun_cloud.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.day-temperature {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 40px;
  color: var(--overlay__white__100);
  font-family: var(--frederica);
}
